<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">

<head><!-- HEADER WITH IMPORTS, TITLE, STYLE -->

  <link th:replace="parts/header"></link>
  <title>Simple ABC Library - Java Web Application - Marcin Mazur Portfolio</title>
  <link rel="stylesheet" th:href="@{/css/baguetteBox.min.css}">
  <link rel="stylesheet" th:href="@{/css/gallery-grid.css}">
 
</head><!-- HEADER WITH IMPORTS, TITLE, STYLE -->

<body class="bg-l-grey">
<!-- ADD CLASS 'fade-out' TO BODY TO GET SMOOTH PAGE LOADING EFFECT -->
<script>document.body.className += ' fade-out';</script>
<header style="height: auto;">
<!-- NAVBAR -->
	<nav th:replace="parts/subnavbar"></nav>
<!-- NAVBAR -->
</header>
<!--  PROJECT HEADING -->
	<div class="container pt-4 px-4" style="min-height: 100%">
		<h1 class="project-heading">Simple ABC Library</h1>		
		<span class="modified-info" th:text="#{label.author}"></span>
		<br>
		<span class="modified-info mb-5" th:text="#{label.last.modification}"></span>
		<hr>
<!--  PROJECT HEADING -->
<!--  PROJECT DESCRIPTION -->
		<h2 class="section-heading my-5" th:text="#{label.project.description}"></h2>
		<p class="text-justify" th:text="#{simple.abc.library.project.desc.1}"></p>
			 <br>
		<p class="text-justify" th:text="#{simple.abc.library.project.desc.2}"></p>
			 <br>
		<p class="text-justify" th:text="#{simple.abc.library.project.desc.3}"></p>
<!--  PROJECT DESCRIPTION -->
<!--  PROJECT FEATURES -->				
		<h2 class="section-heading my-5" th:text="#{label.main.features}"></h2>		
		<ul class="text-justify">
			<li th:text="#{simple.abc.library.features.1}"></li>
			<li th:text="#{simple.abc.library.features.2}"></li>
			<li th:text="#{simple.abc.library.features.3}"></li>
			<li th:text="#{simple.abc.library.features.4}"></li>
			<li th:text="#{simple.abc.library.features.5}"></li>
			<li th:text="#{simple.abc.library.features.6}"></li>
			<li th:text="#{simple.abc.library.features.7}"></li>
			<li th:text="#{simple.abc.library.features.8}"></li>
			<li th:text="#{simple.abc.library.features.9}"></li>
		</ul>
<!--  PROJECT FEATURES -->
<!--  PROJECT DETAILS -->			
		<h2 class="section-heading my-5" th:text="#{label.project.details}"></h2>
		<span th:text="#{label.project.details.heading}"></span>
		<ul class="mt-2" style="columns: 3">
			<li>Eclipse</li>
			<li>Java</li>
			<li>Maven</li>
			<li>GIT</li>
			<li>MySQL</li>
			<li>Hibernate</li>
			<li>Spring MVC</li>
			<li>JUnit</li>
			<li>JSP</li>
			<li>Tomcat</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>JavaScript</li>
			<li>Bootstrap</li>
		</ul>
		<span class="mt-2" th:text="#{label.source.code}"></span><a href="https://github.com/mmazur658/Simple-ABC-Library">Simple ABC Library</a>
<!--  PROJECT DETAILS -->	
<!--  PROJECT GALLERY -->			
		<h2 class="section-heading my-5" th:text="#{label.project.gallery}"></h2>
	    <div class="tz-gallery">	
	        <div class="row">
	            <div class="col-sm-6 col-md-4">
	                <a class="lightbox" th:href="@{/img/projects/library/simple_abc_library_01_login_form.png}">
	                    <img th:src="@{/img/projects/library/simple_abc_library_01_login_form.png}" alt="">
	                </a>
	            </div>
	             <div class="col-sm-6 col-md-4">
	                <a class="lightbox" th:href="@{/img/projects/library/simple_abc_library_02_new_account_form.png}">
	                    <img th:src="@{/img/projects/library/simple_abc_library_02_new_account_form.png}" alt="">
	                </a>
	            </div>
	             <div class="col-sm-6 col-md-4">
	                <a class="lightbox" th:href="@{/img/projects/library/simple_abc_library_03_main_page.png}">
	                    <img th:src="@{/img/projects/library/simple_abc_library_03_main_page.png}" alt="">
	                </a>
	            </div>	            
	            <div class="col-sm-6 col-md-4">
	                <a class="lightbox" th:href="@{/img/projects/library/simple_abc_library_04_messages.png}">
	                    <img th:src="@{/img/projects/library/simple_abc_library_04_messages.png}" alt="">
	                </a>
	            </div>
				<div class="col-sm-6 col-md-4">
	                <a class="lightbox" th:href="@{/img/projects/library/simple_abc_library_05_new_message.png}">
	                    <img th:src="@{/img/projects/library/simple_abc_library_05_new_message.png}" alt="">
	                </a>
	            </div>
	            <div class="col-sm-6 col-md-4">
	                <a class="lightbox" th:href="@{/img/projects/library/simple_abc_library_06_customer.png}">
	                    <img th:src="@{@{/img/projects/library/simple_abc_library_06_customer.png}}" alt="">
	                </a>
	            </div>
	            <div class="col-sm-6 col-md-4">
	                <a class="lightbox" th:href="@{/img/projects/library/simple_abc_library_07_employee.png}">
	                    <img th:src="@{/img/projects/library/simple_abc_library_07_employee.png}" alt="">
	                </a>
	            </div>
	            <div class="col-sm-6 col-md-4">
	                <a class="lightbox" th:href="@{/img/projects/library/simple_abc_library_08_borrow_book.png}">
	                    <img th:src="@{/img/projects/library/simple_abc_library_08_borrow_book.png}" alt="">
	                </a>
	            </div>
	            <div class="col-sm-6 col-md-4">
	                <a class="lightbox" th:href="@{/img/projects/library/simple_abc_library_09_borrowed_books.png}">
	                    <img th:src="@{/img/projects/library/simple_abc_library_09_borrowed_books.png}" alt="">
	                </a>
	            </div>
	            <div class="col-sm-6 col-md-4">
	                <a class="lightbox" th:href="@{/img/projects/library/simple_abc_library_10_return_book.png}">
	                    <img th:src="@{/img/projects/library/simple_abc_library_10_return_book.png}" alt="">
	                </a>
	            </div>
	            <div class="col-sm-6 col-md-4">
	                <a class="lightbox" th:href="@{/img/projects/library/simple_abc_library_11_bookstore.png}">
	                    <img th:src="@{/img/projects/library/simple_abc_library_11_bookstore.png}" alt="">
	                </a>
	            </div>
	            <div class="col-sm-6 col-md-4">
	                <a class="lightbox" th:href="@{/img/projects/library/simple_abc_library_12_bookstore_find_book.png}">
	                    <img th:src="@{/img/projects/library/simple_abc_library_12_bookstore_find_book.png}" alt="">
	                </a>
	            </div>
	        </div>	
	    </div>
<!--  PROJECT GALLERY -->	
	</div>
<!-- FOOTER -->
<footer th:replace="parts/footer"></footer>
<!-- FOOTER -->
<!-- SCRIPTS -->
<div th:replace="parts/scripts"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
</body>
</html>