<!-- RESUME & MOTIVATION LETTER -->	
<!-- TABS -->
		<nav>
		  <div class="nav nav-tabs md-tabs nav-justified" id="nav-tab" role="tablist">
		    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" data-target="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
		     	<h4 class="font-weight-bold text-center wow fadeIn" data-wow-delay="0.1s">CV</h4>
		    </a>
		    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" data-target="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
		    	<h4 class="font-weight-bold text-center wow fadeIn" data-wow-delay="0.1s">List Motywacyjny</h4>
		    </a>
		  </div>
		</nav>
<!-- TABS -->		
<!-- RESUME -->
		<div class="tab-content pt-5 wow fadeIn" data-wow-delay="0.3s" id="nav-tabContent">
		  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
		  	<div class="row">
		      <div class="col-md-6 pr-3 mb-1">		    
<!-- WORK EXPERIENCE -->
		       		<h5 class="my-4 font-weight-bold">Doświadczenie</h5>
		      		<div class="row font-weight-bold">	      		
		      			<div class="col-lg-3">05-2018 <br> 11-2018</div>	
		      			<div class="col-md-9">Eurocash S.A. Centrum Dystrybucyjne Wrocław<br>Szef Ekipy</div>	      			
		      		</div>
		         	<ul>
			          	<li>Kontrolowanie i wyjaśnienia niezgodności w stanach magazynowych</li>
			          	<li>Zarządzanie i nadzorowanie procesu kompletacji zamówień</li>
			          	<li>Ciągłe podnoszenie wydajności i jakości pracy</li>
		          	</ul>
			        <div class="row font-weight-bold">
			      		<div class="col-lg-3">10-2013<br>03-2018</div>
			      		<div class="col-md-9">ThyssenKrupp Energostal S.A. Poznań<br>Kierownik Działu Obsługi Klienta</div>
			      	</div>
			        <ul>
			          	<li>Samodzielne Zarządzanie Działem Obsługi Klienta i kierowanie zespołem 10 pracowników</li>
			          	<li>Stała analiza i ulepszanie procesów zachodzących w biurze</li>
			          	<li>Utrzymanie wysokiej motywacji pracowników</li>
			          	<li>Testowanie i wdrażanie nowych rozwiązań</li>
			          	<li>Rozwiązywanie problemów i konfliktów</li>
			        </ul>	          
			        <div class="row font-weight-bold">
			      		<div class="col-lg-3">06-2013<br>09-2013</div>
			      		<div class="col-md-9">ThyssenKrupp Energostal S.A. Poznań<br>P.O. Kierownika Działu Obsługi Klienta</div>
			      	</div>
			        <ul>
			          	<li>Zarządzanie Działem Obsługi Klienta i zespołem 10 pracowników pod nadzorem bezpośredniego przełożonego</li>
			          	<li>Zapewnienie prawidłowego przepływu informacji i dokumentów pomiędzy działami </li>
			          	<li>Tworzenie pism firmowych, prezentacji i raportów dla bezpośredniego przełożonego</li>
			        </ul>	                
			        <div class="row font-weight-bold">
			      		<div class="col-lg-3">01-2013<br>05-2013</div>
			      		<div class="col-md-9">ThyssenKrupp Energostal S.A. Poznań<br>Specjalista ds. Obsługi Klienta</div>
			      	</div>
			        <ul>
			         	<li>Zapewnienie najwyższej jakości obsługi klienta oraz dbanie o wizerunek i dobre imię firmy</li>
			          	<li>Wspieranie pracy Referentów ds. Obsługi Klienta</li>
			          	<li>Obsługa trudnego klienta</li>
			        </ul>	       
			        <div class="row font-weight-bold">
			      		<div class="col-lg-3">04-2011<br>12-2012</div>
			      		<div class="col-md-9">ThyssenKrupp Energostal S.A. Poznań<br>Referent ds. Obsługi Klienta</div>
			      	</div>
			        <ul>
			          	<li>Kontakt mailowy i telefoniczny z dostawcami i odbiorcami</li>
			          	<li>Obsługa dokumentacji sprzedażowej i magazynowej</li>
			          	<li>Obsługa klienta posprzedażowego</li>
			        </ul>   			
<!-- WORK EXPERIENCE -->      
		      </div>
		      <div class="col-md-6 pl-3 mb-1">	     
<!-- EDUCATION -->	    
		        <h5 class="my-4 font-weight-bold">Edukacja</h5>
		        <div class="row">
		      		<div class="col-lg-3">09-2005<br>04-2009</div>
		      		<div class="col-md-9">Zespół Szkół Ponadgimnazjalnych nr 1 w Pile<br>Technik Informatyk</div>
		      	</div>
<!-- EDUCATION -->		      	
<!-- LANGUAGES -->		      			   
		      	<h5 class="my-4 font-weight-bold">Języki Obcje</h5>
		        <div class="row">
		      		<div class="col-md-2 text-center">B1</div>
		      		<div class="col-md-10">Angielski</div>
		      	</div>
<!-- LANGUAGES -->				      	
<!-- SKILLS -->	   			     
		      	<h5 class="my-4 font-weight-bold">Umiejętności</h5>
		      	<ul>
		          	<li>Umiejętność programowania w języku Java oraz wykorzystania frameworków Spring MVC, Spring Boot i Hibernate
		          	<li>Znajomość Eclipse, Maven, GIT oraz systemu Ubuntu</li> 	
		          	<li>Znajomość MySQL i tematyki relacyjnych baz danych</li>
		          	<li>Znajomość HTML, CSS, JavaScript, JQuery, JSP, Thymeleaf, Bootstrap</li>
		          	<li>Umiejętność analitycznego i strategicznego myślenia</li>
		          	<li>Znajomość MS Office, OpenOffice, LibreOffice oraz Google Docs</li>
		          	<li>Umiejętność pracy w grupie i indywidulanie</li>
		          	<li>Wysokie umiejętności interpersonalne</li>
		        </ul>	
<!-- SKILLS -->	  
<!-- MORE INFO -->
		      	<h5 class="my-4 font-weight-bold">Dodatkowe informacje</h5>
		      	<ul>
		          	<li>Wysoka kultua osobista</li>
		          	<li>Otwartość na zmiany i innowacje</li>
		          	<li>Gotowość do rozwoju i dalszej edukacji</li>
		         </ul>		
<!-- MORE INFO -->		   
<!-- HOBBIES -->		          	   
		         <h5 class="my-4 font-weight-bold">Zainteresowania</h5>
		      	 <ul>
		          	<li>Turystyka górska i podróże zagraniczne</li>
		          	<li>Bieganie i wycieczki rowerowe</li>
		          	<li>Programowanie obiektowe i technologie internetowe</li>
		         </ul>
<!-- HOBBIES -->		          
			</div>	 	     		
		 </div>		
<!-- MOTIVATION LETTER -->
		  </div>
		  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
		    <p class="text-justify">
			    Szanowni Państwo
			    <br><br>
			    W Eurocash S.A pracowałem 6 miesięcy na stanowisku Szef Ekipy.
			    Odpowiedzialny byłem za prawidłowe funkcjonowanie procesu kompletacji zamówień produktów świeżych. 
			    Zapewniałem ciągłość pracy poprzez kolejkowanie i przydzielanie zamówień w systemie SAP. 
			    Dostarczałem niezbędne narzędzia do pracy oraz rozwiązywałem bieżące problemy i wyjaśniałem niezgodności w stanach magazynowych. 
			    Dodatkowo przygotowywałem raporty i zestawienia wykorzystując MS Word i Excel.
				<br><br>
				W ThyssenKrupp Energostal S.A., obecnie thyssenkrupp Materials Poland S.A. pracowałem 7 lat. 
				Pracę w Dziale Obsługi Klienta rozpocząłem na stanowisku Referent ds. Obsługi Klienta. 
				Poprzez kolejne szczeble kariery rozwinąłem swoje umiejętności interpersonalne oraz organizacyjne. 
				Nauczyłem się pracować pod presją czasu, samodzielnie rozwiązywać problemy oraz obsługiwać sprzęt i oprogramowanie biurowe. 
				<br><br>
				Ostatnie 5 lat pracowałem na stanowisku Kierownik Działu Obsługi Klienta. 
				Do moich głównych obowiązków należało zarządzanie Działem Obsługi Klienta i 10 osobowym zespołem pracowników. 
				Byłem odpowiedzialny za planowanie pracy, przygotowywanie harmonogramów, zapewnienie odpowiednich warunków i narzędzi do pracy, utrzymanie wysokiej motywacji pracowników oraz realizację wyznaczonych celów i zadań.
				<br><br>
				Dodatkowo zajmowałem się rozwiązywaniem podstawowych problemów informatycznych w biurze, monitorowaniem działania systemów wewnętrznych, raportowaniem niezgodności do działu IT oraz bezpośrednim wsparciem działu IT podczas przygotowywania i wdrażania nowych rozwiązań. 
				Przygotowałem i wdrożyłem zestaw instrukcji stanowiskowych opisujących pracę w Dziale Obsługi Klienta oraz instrukcji użytkownika opisujących działanie wewnętrznych systemów informatycznych.
				<br><br>
				Podczas pracy dla tkMP odbyłem szkolenia z motywowania zespołu, obsługi trudnego klienta oraz z przeprowadzania szkoleń i prowadzenia prezentacji. 
				Codzienna praca wymagała ode mnie wysokich umiejętności interpersonalnych, dużej dokładności w wykonywaniu obowiązków, dyscypliny i opanowania. 
				Mam wielką nadzieję, że będę mógł spotkać się z Panią i osobiście zaprezentować swoją osobę. 
				<br><br>
			    Z poważaniem 
			    <br>
			    Marcin Mazur
		    </p>
		  </div>	
<!-- DOWNLOAD RESUME AND ML BUTTONS -->
			<h5 class="mt-5 font-weight-bold">DOKUMENTY: </h5>
			<div class="row ">
				<div class="col-md-3">
					 <a th:href="@{/download-resume}"class="btn bg-grey btn-block font-weight-bold text-white"> RESUME PL</a>
				</div>
				<div class="col-md-3">
					<a href="" class="btn bg-grey btn-block font-weight-bold text-white">RESUME EN</a>
				</div>
				<div class="col-md-3">
					<a href="" class="btn bg-grey btn-block font-weight-bold text-white">list motywacyjny PL</a>
				</div>
				<div class="col-md-3">
					<a href="" class="btn bg-grey btn-block font-weight-bold text-white">motivational letter EN</a>
				</div>
			</div>
<!-- DOWNLOAD RESUME AND ML BUTTONS --> 	  
		</div>
<!-- MOTIVATION LETTER -->	
<!-- RESUME & MOTIVATION LETTER -->	