<!-- RESUME -->
	<h4 class="font-weight-bold text-center wow fadeIn" data-wow-delay="0.1s" th:text="#{career.heading}"></h4>
		  	<div class="row">
		      <div class="col-md-6 pr-3 mb-1">		    
<!-- WORK EXPERIENCE -->
		       		<h5 class="my-4 font-weight-bold" th:text="#{career.work.exp}"></h5>
		      		<div class="row font-weight-bold">	      		
		      			<div class="col-lg-3">05-2018 <br> 11-2018</div>	
		      			<div class="col-md-9">Eurocash S.A. Wrocław<br><span th:text="#{career.position.1}"></span></div>	      			
		      		</div>
		         	<ul>
			          	<li th:text="#{career.duties.1}"></li>
			          	<li th:text="#{career.duties.2}"></li>
			          	<li th:text="#{career.duties.3}"></li>
			          	<li th:text="#{career.duties.4}"></li>
		          	</ul>
			        <div class="row font-weight-bold">
			      		<div class="col-lg-3">10-2013<br>03-2018</div>
			      		<div class="col-md-9">ThyssenKrupp Energostal S.A. Poznań<br><span th:text="#{career.position.2}"></span></div>
			      	</div>
			        <ul>
			          	<li th:text="#{career.duties.5}"></li>
			          	<li th:text="#{career.duties.6}"></li>
			          	<li th:text="#{career.duties.7}"></li>
			          	<li th:text="#{career.duties.8}"></li>
			          	<li th:text="#{career.duties.9}"></li>
			        </ul>	          
			        <div class="row font-weight-bold">
			      		<div class="col-lg-3">06-2013<br>09-2013</div>
			      		<div class="col-md-9">ThyssenKrupp Energostal S.A. Poznań<br><span th:text="#{career.position.3}"></span></div>
			      	</div>
			        <ul>
			          	<li th:text="#{career.duties.10}"></li>
			          	<li th:text="#{career.duties.11}"></li>
			          	<li th:text="#{career.duties.12}"></li>
			        </ul>	                
			        <div class="row font-weight-bold">
			      		<div class="col-lg-3">01-2013<br>05-2013</div>
			      		<div class="col-md-9">ThyssenKrupp Energostal S.A. Poznań<br><span th:text="#{career.position.4}"></span></div>
			      	</div>
			        <ul>
			         	<li th:text="#{career.duties.13}"></li>
			          	<li th:text="#{career.duties.14}"></li>
			          	<li th:text="#{career.duties.15}"></li>
			        </ul>	       
			        <div class="row font-weight-bold">
			      		<div class="col-lg-3">04-2011<br>12-2012</div>
			      		<div class="col-md-9">ThyssenKrupp Energostal S.A. Poznań<br><span th:text="#{career.position.5}"></span></div>
			      	</div>
			        <ul>
			          	<li th:text="#{career.duties.16}"></li>
			          	<li th:text="#{career.duties.17}"></li>
			          	<li th:text="#{career.duties.18}"></li>
			        </ul>   			
<!-- WORK EXPERIENCE -->      
		      </div>
		      <div class="col-md-6 pl-3 mb-1">	     
<!-- EDUCATION -->	    
		        <h5 class="my-4 font-weight-bold" th:text="#{career.educational}"></h5>
		        <div class="row">
		      		<div class="col-lg-3">09-2005<br>04-2009</div>
		      		<div class="col-md-9" th:text="#{career.school.name}"><br><span th:text="#{career.school.class}"></span></div>
		      	</div>
<!-- EDUCATION -->		      	
<!-- LANGUAGES -->		      			   
		      	<h5 class="my-4 font-weight-bold" th:text="#{career.languages}"></h5>
		        <div class="row">
		      		<div class="col-md-2 text-center">B1</div>
		      		<div class="col-md-10" th:text="#{career.english}"></div>
		      	</div>
<!-- LANGUAGES -->				      	
<!-- SKILLS -->	   			     
		      	<h5 class="my-4 font-weight-bold" th:text="#{career.skills}"></h5>
		      	<ul>
		          	<li th:text="#{career.skill.1}"></li>
		          	<li th:text="#{career.skill.2}"></li>
		          	<li th:text="#{career.skill.3}"></li>
		          	<li th:text="#{career.skill.4}"></li>
		          	<li th:text="#{career.skill.5}"></li>
		        </ul>	
<!-- SKILLS -->	  
<!-- MORE INFO -->
		      	<h5 class="my-4 font-weight-bold" th:text="#{career.additional.info}"></h5>
		      	<ul>
		          	<li th:text="#{career.additional.info.1}"></li>
		          	<li th:text="#{career.additional.info.2}"></li>
		          	<li th:text="#{career.additional.info.3}"></li>

		         </ul>		
<!-- MORE INFO -->		   
<!-- HOBBIES -->		          	   
		         <h5 class="my-4 font-weight-bold" th:text="#{career.interests}"></h5>
		      	 <ul>
		          	<li th:text="#{career.hobby.1}"></li>
		          	<li th:text="#{career.hobby.2}"></li>
		          	<li th:text="#{career.hobby.3}"></li>
		         </ul>
<!-- HOBBIES -->		          
			</div>	 	     		
		 </div>	
	<!-- DOWNLOAD RESUME AND ML BUTTONS -->
			<h5 class="mt-5 font-weight-bold" th:text="#{career.documents}"> </h5>
			<div class="row ">
				<div class="col-md-6">
					 <a th:href="@{/download-resume-pl}"class="btn bg-grey btn-block font-weight-bold text-white" th:text="#{career.resume.pl}"></a>
				</div>
				<div class="col-md-6">
					<a th:href="@{/download-resume-en}" class="btn bg-grey btn-block font-weight-bold text-white" th:text="#{career.resume.en}"></a>
				</div>
			</div>
<!-- DOWNLOAD RESUME  BUTTON --> 	
<!-- RESUME-->	