<!-- MAIN NAV BAR -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top scrolling-navbar wow fadeIn" data-wow-delay="1.0s">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
<!-- NAVIAGTION LINKS -->
	<ul class="navbar-nav mr-auto smooth-scroll">
	    <li class="nav-item">
	        <a class="nav-link" href="#intro" th:text="#{nav.start}"></a>
	    </li>
	    <li class="nav-item">
	        <a id="aboutMeLink" class="nav-link" href="#about-me" th:text="#{nav.about.me}"></a>
	    </li>
	    <li class="nav-item">
	        <a class="nav-link" href="#careerSection" th:text="#{nav.career}"></a>
	    </li>
	    <li class="nav-item">
	        <a class="nav-link" href="#projects" th:text="#{nav.projects}"></a>
	    </li>
	    <li class="nav-item">
	        <a class="nav-link" href="#contact" th:text="#{nav.contact}"></a>
	    </li>
	</ul>
<!-- NAVIAGTION LINKS -->
<!-- SOCIAL MEDIA LINKS -->
	<ul class="navbar-nav nav-flex-icons">
	    <li class="nav-item">
	        <a href="https://www.facebook.com/marcin.mazur.1024.2" class="nav-link"><i class="fab fa-facebook-f"></i></a>
	    </li>
	    <li class="nav-item">
	        <a href="https://www.linkedin.com/in/marcin-mazur-1024/" class="nav-link"><i class="fab fa-linkedin-in"></i></a>
	    </li>
	    <li class="nav-item">
	        <a href="https://github.com/mmazur658" class="nav-link"><i class="fab fa-github"></i></a>
	    </li>    
	    <li class="nav-item mt-2 mx-2">
			<a th:href="@{/?lang=en_us}">
	    		<img class="mb-3" style="opacity: 0.7;" th:src="@{/img/united-kingdom-flag.png}" alt="United Kingdom Flag" >
	    	</a>
		</li>
		<li class="nav-item mt-2 mr-2">
			<a th:href="@{/?lang=pl_pl}">
	    		<img class="mb-3" style="opacity: 0.7;" th:src="@{/img/poland-flag.png}" alt="Poland Flag" >
	    	</a>
		</li>	
	</ul>
<!-- SOCIAL MEDIA LINKS -->
  </div>
  
  <script>
	  $('.nav-item').on('click', function(){	
		  $('#navbarSupportedContent').collapse('hide');
	  });    
  </script>
</nav>
<!-- MAIN NAV BAR -->